*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color:  lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    box-sizing: 100%;
}
header{
    display: inline-flex;
    height: 160px;
    background-image: url(img/visions.jpg);
    display: flex;
    background-color: black;
    background-repeat: no-repeat, repeat-x;
    background-position: center;
    display: flex;

}
main{
    height: 1100px;
    margin-right: 400px;
    margin-left: 400px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.intro-container{
    align-items: center;
    background-position: center;
    text-align: center;
}
.foto-ito{
    background-position: center;
}
.titulo{
    text-align: center;
    font-style: italic;
}
.texto-biografico{
    font-style: italic;
}
.topicos-container{
    margin: auto;
    text-align: justify;
    margin-right: 200px;
    margin-left: 200px;
    display: flexbox;
    flex-flow: row;
}
a.link-wikipedia{
    color: #363636;
}
a.link-amazon{
    color: #363636;
}
footer{
    height: 100px;
    color: #363636;
    text-align: center;
    background-color: black;
}