*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color:  lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    
    height: 160px;
    background-image: url(img/visions.jpg) ;
    background-color: black;
    background-repeat: no-repeat, repeat-x;
    background-position: center;
    display: flex;

}
main{
    height: 900px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    
}
.intro-container{
    align-items: center;
    background-position: center;
    text-align: center;
}
.foto-ito{
    background-position: center;
}
.titulo{
    text-align: center;
    font-style: italic;
}
.biografia-container{
    align-items: center;
    text-align: center;
}
.texto-biografico{
    font-style: italic;
}
.obra-uzumaki{

}
.topicos-container{
    text-align: center;
}
footer{
    height: 150px;
    background-color: black;
}